
.about-container {
  max-width: 100%; 
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section-spacing {
  margin: 4rem 0; 
}

.vertical-spacing-large {
  margin: 6rem 0;
}

.vertical-spacing-medium {
  margin: 4rem 0;
}

.vertical-spacing-small {
  margin: 2rem 0;
}